<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Create a Custom Madlibs!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the necessary components to see your constructed madlib!</h1>
    <form action="/madlibs" method="post">
     <label for="propNoun1">Proper Noun: </label>
     <input id="propNoun1" name="propNoun1" type="text">
     <label for="propNoun2">Proper Noun: </label>
     <input id="propNoun2" name="propNoun2" type="text">
    <label for="place1">Place: </label>
     <input id="place1" name="place1" type="text">
    <label for="place2">Place: </label>
     <input id="place2" name="place2" type="text">
    <label for="person1">Person's name: </label>
     <input id="person1" name="person1" type="text">
    <label for="person2">Person's name: </label>
     <input id="person2" name="person2" type="text">
    <label for="noun1">Noun: </label>
     <input id="noun1" name="noun1" type="text">
    <label for="noun2">Noun: </label>
     <input id="noun2" name="noun2" type="text">
    <label for="noun3">Noun: </label>
     <input id="noun3" name="noun3" type="text">
    <label for="verb1">Verb: </label>
     <input id="verb1" name="verb1" type="text">
    <label for="verb2">Verb: </label>
     <input id="verb2" name="verb2" type="text">
    <label for="verb3">Verb: </label>
     <input id="verb3" name="verb3" type="text">
    <label for="adj1">Adjective: </label>
     <input id="adj1" name="adj1" type="text">
    <label for="adj2">Adjective: </label>
     <input id="adj2" name="adj2" type="text">
    <label for="adj3">Adjective: </label>
     <input id="adj3" name="adj3" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>